@model IEnumerable<CrudMVC.Department>

@{ ViewBag.Title = "Index"; }

<h2>Department Data</h2>

<p>
    <h3> @Html.ActionLink("Add New Record", "Create")</h3>
</p>
<table class="table" border="1" style="background-color:azure;opacity:1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Departments)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Qualification)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Salary)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Contact)
    </td>
    <td style="border-bottom:hidden;border-right:hidden;border-top:hidden">
        @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "fas fa-edit fa-lg" }) |
        @Html.ActionLink(" ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "fas fa-trash fa-lg" })
    </td>
</tr>}

</table>
